.page {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s ease;
  }

  &-enter,
  &-leave-active {
    opacity: 0;
  }
}

.content-next {
  &-enter-active {
    transition: opacity 0.5s cubic-bezier(0.17, 0.46, 0.48, 0.89),
      transform 0.5s cubic-bezier(0.17, 0.46, 0.48, 0.89);
  }
  &-leave-active {
    transition: opacity 0.5s cubic-bezier(0.48, 0.1, 0.8, 0.47),
      transform 0.5s cubic-bezier(0.48, 0.1, 0.8, 0.47);
  }

  &-enter,
  &-leave-active {
    opacity: 0;
  }
  &-enter {
    transform: translate3d(50%, 0, 0);
  }
  &-leave-active {
    transform: translate3d(-50%, 0, 0);
  }
}


.content-back {
  &-enter-active {
    transition: opacity 0.5s cubic-bezier(0.17, 0.46, 0.48, 0.89),
      transform 0.5s cubic-bezier(0.17, 0.46, 0.48, 0.89);
  }
  &-leave-active {
    transition: opacity 0.5s cubic-bezier(0.48, 0.1, 0.8, 0.47),
      transform 0.5s cubic-bezier(0.48, 0.1, 0.8, 0.47);
  }

  &-enter,
  &-leave-active {
    opacity: 0;
  }
  &-enter {
    transform: translate3d(-50%, 0, 0);
  }
  &-leave-active {
    transform: translate3d(50%, 0, 0);
  }
}
