{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage"
      }
    ],
    "vue"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-object-rest-spread", {
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "transform-vue-jsx"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "useBuiltIns": "usage"
          }
        ]
      ],
      "plugins": [
        [
          "@babel/plugin-proposal-object-rest-spread",
          {
            "loose": true,
            "useBuiltIns": true
          }
        ],
        "transform-vue-jsx"
      ]
    }
  }
}
