.btn {
  background: $color-text;
  line-height: 1;
  color: #fff;
  transition: background $transition-duration $transition-easing;
  will-change: background;

  &.-primary {
    background: $color-primary;
  }
  &.-secondary {
    background: $color-secondary;
  }
  &:disabled {
    background: $color-disabled;
  }

  @media screen and (min-width: 768px) {
    border-radius: 5px;
    padding: 8px 24px 9px;
    font-size: $font-size-base;

    &.-small {
      padding: 6px 20px;
      font-size: 1.4rem;
    }

    &:hover,
    &:focus {
      background: #676767;

      &.-primary {
        background: #47a4f3;
      }
      &.-secondary {
        background: #ffa450;
      }
      &:disabled {
        background: $color-disabled;
      }
    }
  }
  @media screen and (max-width: 767px) {
    box-sizing: border-box;
    border-radius: 6px;
    padding: 11px 24px 12px;
    width: 100%;
    font-size: $font-size-base;

    &.-small {
      padding: 8px 24px;
    }

    &:hover,
    &:focus {
      background: #676767;

      &.-primary {
        background: #47a4f3;
      }
      &.-secondary {
        background: #ffa450;
      }
      &:disabled {
        background: $color-disabled;
      }
    }
  }
}
